SERVICE_PORT_FORGEJO=3000
SERVICE_PASSWORD_FORGEJO_RUNNER=forgejo_runner_registration_token

FORGEJO_IMAGE=data.forgejo.org/forgejo/forgejo:12
FORGEJO_RESTART_POLICY=unless-stopped
FORGEJO_RUNNER_IMAGE=data.forgejo.org/forgejo/runner:12
FORGEJO_RUNNER_RESTART_POLICY=unless-stopped

SERVICE_URL_FORGEJO_3000=http://localhost:3000/
SERVICE_URL_FORGEJO=http://localhost:3000/
SERVICE_FQDN_FORGEJO_3000=localhost
SERVICE_FQDN_FORGEJO=localhost

FORGEJO_USER_UID=1000
FORGEJO_USER_GID=1000
FORGEJO_DISABLE_SSH=true
FORGEJO_RUNNER_UID=1000
FORGEJO_RUNNER_GID=1000
FORGEJO_RUNNER_INSTANCE_URL=http://forgejo:3000
FORGEJO_RUNNER_NAME=kubeara-runner
TZ=UTC
