SERVICE_PORT_WINDMILL=8000
SERVICE_USER_WINDMILL=windmill
SERVICE_PASSWORD_WINDMILL=windmill_password

SERVICE_URL_WINDMILL_8000=http://localhost:8000
SERVICE_URL_WINDMILL=http://localhost:8000
SERVICE_FQDN_WINDMILL_8000=localhost
SERVICE_FQDN_WINDMILL=localhost

WINDMILL_DB_NAME=windmill
WINDMILL_SILENCE_HEALTH_LOGS=true
WINDMILL_WORKER_METRICS_ADDR=0.0.0.0:8001
WINDMILL_IMAGE=ghcr.io/windmill-labs/windmill:1.661.0
WINDMILL_RESTART_POLICY=unless-stopped
WINDMILL_WORKER_RESTART_POLICY=unless-stopped
WINDMILL_POSTGRES_IMAGE=postgres:16
WINDMILL_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
