SERVICE_PORT_EVOLUTION_API=8080

SERVICE_URL_EVOLUTION_API_8080=http://localhost:8080
SERVICE_URL_EVOLUTION_API=http://localhost:8080
SERVICE_FQDN_EVOLUTION_API_8080=localhost
SERVICE_FQDN_EVOLUTION_API=localhost

EVOLUTION_API_DB_NAME=evolution
TZ=UTC
