SERVICE_PORT_MSSQL=1433
SERVICE_PASSWORD_MSSQL=YourStrong!Passw0rd
ACCEPT_EULA=Y
MSSQL_PID=Developer
MSSQL_AGENT_ENABLED=false
MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
MSSQL_RESTART_POLICY=unless-stopped
TZ=UTC
