SERVICE_PORT_LOBE_CHAT=3210
SERVICE_PASSWORD_ACCESSCODE=lobechat_access_code

SERVICE_URL_LOBE_CHAT_3210=http://localhost:3210
SERVICE_URL_LOBE_CHAT=http://localhost:3210
SERVICE_FQDN_LOBE_CHAT_3210=localhost
SERVICE_FQDN_LOBE_CHAT=localhost

LOBE_CHAT_IMAGE=lobehub/lobe-chat:latest
LOBE_CHAT_RESTART_POLICY=unless-stopped
LOBE_CHAT_OPENAI_PROXY_URL=https://api.openai.com/v1
TZ=UTC
