SERVICE_PORT_NOCODB=8080
SERVICE_USER_NOCODB=nocodb
SERVICE_PASSWORD_NOCODB=nocodb_password
SERVICE_HEX_64_NOCODB=0000000000000000000000000000000000000000000000000000000000000000

SERVICE_URL_NOCODB_8080=http://localhost:8080
SERVICE_URL_NOCODB=http://localhost:8080
SERVICE_FQDN_NOCODB_8080=localhost
SERVICE_FQDN_NOCODB=localhost

NOCODB_DB_NAME=nocodb
NOCODB_DISABLE_TELE=true
NOCODB_IMAGE=nocodb/nocodb:0.263.8
NOCODB_RESTART_POLICY=unless-stopped
NOCODB_POSTGRES_IMAGE=postgres:16-alpine
NOCODB_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
