SERVICE_PORT_CHECKOV=8080
SERVICE_PASSWORD_CHECKOV=
CHECKOV_IMAGE=bridgecrew/checkov:latest
CHECKOV_RESTART_POLICY=unless-stopped
TZ=UTC

SERVICE_URL_CHECKOV_8080=http://localhost:8080
SERVICE_URL_CHECKOV=http://localhost:8080
SERVICE_FQDN_CHECKOV_8080=localhost
SERVICE_FQDN_CHECKOV=localhost
