SERVICE_PORT_SIGNOZ=8080
SERVICE_PORT_SIGNOZ_OTLP_GRPC=4317
SERVICE_PORT_SIGNOZ_OTLP_HTTP=4318
SERVICE_HEX_64_SIGNOZ=0000000000000000000000000000000000000000000000000000000000000000

SERVICE_URL_SIGNOZ_8080=http://localhost:8080
SERVICE_URL_SIGNOZ=http://localhost:8080
SERVICE_FQDN_SIGNOZ_8080=localhost
SERVICE_FQDN_SIGNOZ=localhost

SIGNOZ_IMAGE=signoz/signoz:v0.128.0
SIGNOZ_OTELCOL_IMAGE=signoz/signoz-otel-collector:v0.144.5
SIGNOZ_CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:25.5.6
SIGNOZ_ZOOKEEPER_IMAGE=signoz/zookeeper:3.7.1
SIGNOZ_RESTART_POLICY=unless-stopped
SIGNOZ_OTELCOL_RESTART_POLICY=unless-stopped
SIGNOZ_CLICKHOUSE_RESTART_POLICY=unless-stopped
SIGNOZ_ZOOKEEPER_RESTART_POLICY=unless-stopped
TZ=UTC
