SERVICE_PORT_TABBY=8080
SERVICE_HEX_64_TABBY=0000000000000000000000000000000000000000000000000000000000000000
TABBY_IMAGE=tabbyml/tabby:latest
TABBY_RESTART_POLICY=unless-stopped
TABBY_MODEL=StarCoder-1B
TABBY_CHAT_MODEL=Qwen2-1.5B-Instruct
TABBY_DEVICE=cpu
TZ=UTC

SERVICE_URL_TABBY_8080=http://localhost:8080
SERVICE_URL_TABBY=http://localhost:8080
SERVICE_FQDN_TABBY_8080=localhost
SERVICE_FQDN_TABBY=localhost
