SERVICE_PORT_WEAVIATE=8080
SERVICE_PORT_WEAVIATE_50051=50051
SERVICE_USER_WEAVIATE=weaviate
SERVICE_PASSWORD_WEAVIATE=weaviate_api_key
WEAVIATE_QUERY_DEFAULTS_LIMIT=25
WEAVIATE_CLUSTER_HOSTNAME=node1
WEAVIATE_IMAGE=cr.weaviate.io/semitechnologies/weaviate:1.27.3
WEAVIATE_RESTART_POLICY=unless-stopped
TZ=UTC
