SERVICE_PORT_AFFINE=3010
SERVICE_USER_AFFINE=affine
SERVICE_PASSWORD_AFFINE=affine_db_password

SERVICE_URL_AFFINE_3010=http://localhost:3010
SERVICE_URL_AFFINE=http://localhost:3010
SERVICE_FQDN_AFFINE_3010=localhost
SERVICE_FQDN_AFFINE=localhost

AFFINE_DB_NAME=affine
AFFINE_IMAGE=ghcr.io/toeverything/affine
AFFINE_REVISION=stable
AFFINE_RESTART_POLICY=unless-stopped
AFFINE_MIGRATION_RESTART_POLICY=no
AFFINE_REDIS_IMAGE=redis:7.4-alpine
AFFINE_REDIS_RESTART_POLICY=unless-stopped
AFFINE_POSTGRES_IMAGE=pgvector/pgvector:pg16
AFFINE_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
