SERVICE_PORT_ARGILLA=6900
SERVICE_USER_POSTGRES=argilla
SERVICE_PASSWORD_POSTGRES=argilla_db_password
SERVICE_PASSWORD_AUTHSECRET=argilla_auth_secret
SERVICE_PASSWORD_ARGILLA=argilla_password
SERVICE_PASSWORD_APIKEY=argilla_api_key

SERVICE_URL_ARGILLA_6900=http://localhost:6900
SERVICE_URL_ARGILLA=http://localhost:6900
SERVICE_FQDN_ARGILLA_6900=localhost
SERVICE_FQDN_ARGILLA=localhost

ARGILLA_IMAGE=argilla/argilla-server:v2.2.0
ARGILLA_WORKER_IMAGE=argilla/argilla-server:v2.2.0
ARGILLA_POSTGRES_IMAGE=postgres:14
ARGILLA_REDIS_IMAGE=redis:7
ARGILLA_ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.12.2
ARGILLA_RESTART_POLICY=unless-stopped
ARGILLA_WORKER_RESTART_POLICY=unless-stopped
ARGILLA_POSTGRES_RESTART_POLICY=unless-stopped
ARGILLA_REDIS_RESTART_POLICY=unless-stopped
ARGILLA_ELASTICSEARCH_RESTART_POLICY=unless-stopped
ARGILLA_USERNAME=argilla
POSTGRES_DB=argilla
TZ=UTC
