SERVICE_PORT_HELICONE=3000
SERVICE_PASSWORD_64_HELICONE=helicone_auth_secret_change_me_to_random_64_chars_value_here
SERVICE_PORT_HELICONE_JAWN=8585
SERVICE_PORT_HELICONE_S3=9080
HELICONE_IMAGE=helicone/helicone-all-in-one:latest
HELICONE_RESTART_POLICY=unless-stopped
HELICONE_JAWN_PUBLIC_URL=http://localhost:8585
HELICONE_S3_PUBLIC_URL=http://localhost:9080
HELICONE_IS_ON_PREM=true
HELICONE_S3_ACCESS_KEY=minioadmin
HELICONE_S3_SECRET_KEY=minioadmin
HELICONE_S3_BUCKET_NAME=request-response-storage
TZ=UTC

SERVICE_URL_HELICONE_3000=http://localhost:3000
SERVICE_URL_HELICONE=http://localhost:3000
SERVICE_FQDN_HELICONE_3000=localhost
SERVICE_FQDN_HELICONE=localhost
