SERVICE_PORT_NEON_WS_PROXY=80
SERVICE_PORT_NEON_WS_PROXY_2112=2112
SERVICE_USER_NEONPG=postgres
SERVICE_PASSWORD_NEONPG=postgres_password
SERVICE_URL_NEON_WS_PROXY=http://localhost
NEON_WS_PROXY_DB=postgres
NEON_WS_PROXY_IMAGE=ghcr.io/neondatabase/wsproxy:latest
NEON_WS_PROXY_POSTGRES_IMAGE=postgres:17-alpine
NEON_WS_PROXY_RESTART_POLICY=unless-stopped
NEON_WS_PROXY_POSTGRES_RESTART_POLICY=unless-stopped
NEON_WS_PROXY_LOG_TRAFFIC=false
NEON_WS_PROXY_LOG_CONN_INFO=true
TZ=UTC
