SERVICE_PORT_HATCHET=8080

SERVICE_URL_HATCHET_8080=http://localhost:8080
SERVICE_URL_HATCHET=http://localhost:8080
SERVICE_FQDN_HATCHET_8080=localhost
SERVICE_FQDN_HATCHET=localhost

HATCHET_DB_NAME=hatchet
HATCHET_LOG_LEVEL=info
SERVER_AUTH_COOKIE_DOMAIN=localhost
SERVER_AUTH_COOKIE_INSECURE=true
SERVER_AUTH_COOKIE_SECRETS=hatchet_cookie_secret_1 hatchet_cookie_secret_2
SERVER_GRPC_INSECURE=t
SERVER_GRPC_BROADCAST_ADDRESS=localhost:7070
SERVER_AUTH_SET_EMAIL_VERIFIED=t
TZ=UTC
