SERVICE_PORT_VAULTWARDEN=8080
SERVICE_PASSWORD_VAULTWARDEN=change_me_admin_token

SERVICE_URL_VAULTWARDEN_8080=http://localhost:8080
SERVICE_URL_VAULTWARDEN=http://localhost:8080
SERVICE_FQDN_VAULTWARDEN=localhost

VAULTWARDEN_SIGNUPS_ALLOWED=false
VAULTWARDEN_INVITATIONS_ALLOWED=true
VAULTWARDEN_SHOW_PASSWORD_HINT=false
VAULTWARDEN_WEBSOCKET_ENABLED=true
VAULTWARDEN_IMAGE=vaultwarden/server:latest
VAULTWARDEN_RESTART_POLICY=unless-stopped
TZ=UTC
