SERVICE_PORT_CONVEX=3210
SERVICE_PORT_CONVEX_3211=3211
SERVICE_PORT_CONVEX_DASHBOARD=6791
SERVICE_HEX_64_CONVEX=
SERVICE_URL_CONVEX_3210=http://localhost:3210
SERVICE_URL_CONVEX_DASHBOARD_6791=http://localhost:6791
CONVEX_INSTANCE_NAME=self-hosted-convex
CONVEX_DO_NOT_REQUIRE_SSL=true
CONVEX_DISABLE_METRICS_ENDPOINT=true
CONVEX_DOCUMENT_RETENTION_DELAY=172800
CONVEX_SITE_ORIGIN=http://127.0.0.1:3211
CONVEX_RUST_LOG=info
CONVEX_BACKEND_IMAGE=ghcr.io/get-convex/convex-backend:latest
CONVEX_DASHBOARD_IMAGE=ghcr.io/get-convex/convex-dashboard:latest
CONVEX_RESTART_POLICY=unless-stopped
CONVEX_DASHBOARD_RESTART_POLICY=unless-stopped
TZ=UTC
