# Nestjs specific
/dist
/node_modules
/build
/tmp
/dist/*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
*.env
*.env.*
!*.env.example
!.env.agent.example
!.env.control-panel.example

# Runtime assets and deployments
generated-templates/
/deployments/
docker-compose.override.yml
docker-compose.generated.yml

# temp directory
.temp
.tmp


spa/dist
spa/node_modules
