SERVICE_PORT_COMFYUI=8188
COMFYUI_IMAGE=mmartial/comfyui-nvidia-docker:ubuntu22_cuda12.2.2-latest
COMFYUI_RESTART_POLICY=unless-stopped
COMFYUI_GPU_COUNT=1
COMFYUI_NVIDIA_VISIBLE_DEVICES=all
COMFYUI_NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
TZ=UTC

SERVICE_URL_COMFYUI_8188=http://localhost:8188
SERVICE_URL_COMFYUI=http://localhost:8188
SERVICE_FQDN_COMFYUI_8188=localhost
SERVICE_FQDN_COMFYUI=localhost
