SERVICE_PORT_KUZZLE=7512
SERVICE_URL_KUZZLE_7512=http://localhost:7512
KUZZLE_IMAGE=kuzzleio/kuzzle:2.56.0
KUZZLE_REDIS_IMAGE=redis:7-alpine
KUZZLE_ELASTICSEARCH_IMAGE=kuzzleio/elasticsearch:7
KUZZLE_ES_JAVA_OPTS=-Xms512m -Xmx512m
KUZZLE_DEBUG=kuzzle:cluster:sync
KUZZLE_RESTART_POLICY=unless-stopped
KUZZLE_REDIS_RESTART_POLICY=unless-stopped
KUZZLE_ELASTICSEARCH_RESTART_POLICY=unless-stopped
TZ=UTC
