SERVICE_PORT_DRONE_CI=80
SERVICE_PASSWORD_DRONE_CI=drone_rpc_secret

SERVICE_URL_DRONE_CI_80=http://localhost
SERVICE_URL_DRONE_CI=http://localhost
SERVICE_FQDN_DRONE_CI_80=localhost
SERVICE_FQDN_DRONE_CI=localhost

DRONE_SERVER_PROTO=http
DRONE_GITHUB_CLIENT_ID=configure-me
DRONE_GITHUB_CLIENT_SECRET=configure-me
DRONE_RUNNER_CAPACITY=2
DRONE_RUNNER_NAME=docker-runner
DRONE_LOGS_DEBUG=false
DRONE_IMAGE=drone/drone:2
DRONE_RESTART_POLICY=unless-stopped
DRONE_RUNNER_IMAGE=drone/drone-runner-docker:1
DRONE_RUNNER_RESTART_POLICY=unless-stopped
TZ=UTC
