SERVICE_PORT_PLAUSIBLE=8000
SERVICE_USER_PLAUSIBLE=plausible
SERVICE_PASSWORD_PLAUSIBLE=plausible_password
SERVICE_BASE64_64_PLAUSIBLE=change_me_to_a_random_64_character_alphanumeric_secret_value_here
SERVICE_HEX_32_PLAUSIBLE=00000000000000000000000000000000

SERVICE_URL_PLAUSIBLE_8000=http://localhost:8000
SERVICE_URL_PLAUSIBLE=http://localhost:8000
SERVICE_FQDN_PLAUSIBLE_8000=localhost
SERVICE_FQDN_PLAUSIBLE=localhost

PLAUSIBLE_DB_NAME=plausible_db
PLAUSIBLE_CLICKHOUSE_DB=plausible_events_db
PLAUSIBLE_DISABLE_REGISTRATION=invite_only
PLAUSIBLE_IMAGE=ghcr.io/plausible/community-edition:v3.2.0
PLAUSIBLE_RESTART_POLICY=unless-stopped
PLAUSIBLE_POSTGRES_IMAGE=postgres:16-alpine
PLAUSIBLE_POSTGRES_RESTART_POLICY=unless-stopped
PLAUSIBLE_CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:24.12-alpine
PLAUSIBLE_CLICKHOUSE_RESTART_POLICY=unless-stopped
TZ=UTC
