SERVICE_PORT_MATOMO=8080
SERVICE_USER_MATOMO=matomo
SERVICE_PASSWORD_MATOMO=matomo_password
SERVICE_PASSWORD_MATOMO_ROOT=matomo_root_password

SERVICE_URL_MATOMO_8080=http://localhost:8080
SERVICE_URL_MATOMO=http://localhost:8080
SERVICE_FQDN_MATOMO_8080=localhost
SERVICE_FQDN_MATOMO=localhost

MATOMO_DB_NAME=matomo
MATOMO_DB_HOST=mariadb
MATOMO_TABLES_PREFIX=matomo_
MATOMO_PHP_MEMORY_LIMIT=512M
MATOMO_IMAGE=matomo:5-apache
MATOMO_RESTART_POLICY=unless-stopped
MATOMO_MARIADB_IMAGE=mariadb:11.4
MATOMO_MARIADB_RESTART_POLICY=unless-stopped
TZ=UTC
