SERVICE_PORT_ZEP=8000
SERVICE_USER_POSTGRES=zep
SERVICE_PASSWORD_POSTGRES=zep_db_password
SERVICE_PASSWORD_AUTHSECRET=zep_auth_secret

SERVICE_URL_ZEP_8000=http://localhost:8000
SERVICE_URL_ZEP=http://localhost:8000
SERVICE_FQDN_ZEP_8000=localhost
SERVICE_FQDN_ZEP=localhost

ZEP_IMAGE=ghcr.io/getzep/zep:latest
ZEP_NLP_IMAGE=ghcr.io/getzep/zep-nlp-server:0.4
ZEP_POSTGRES_IMAGE=ghcr.io/getzep/postgres:postgres-15
ZEP_RESTART_POLICY=unless-stopped
ZEP_NLP_RESTART_POLICY=unless-stopped
ZEP_POSTGRES_RESTART_POLICY=unless-stopped
ZEP_OPENAI_API_KEY=openai_api_key
POSTGRES_DB=postgres
ZEP_SERVER_WEB_ENABLED=true
TZ=UTC
