SERVICE_PORT_LOGTO=3001
SERVICE_PORT_LOGTO_3002=3002
SERVICE_USER_LOGTO=logto
SERVICE_PASSWORD_LOGTO=logto_db_password

SERVICE_URL_LOGTO_3001=http://localhost:3001
SERVICE_URL_LOGTOADMIN_3002=http://localhost:3002
SERVICE_URL_LOGTO=http://localhost:3001
SERVICE_URL_LOGTOADMIN=http://localhost:3002
SERVICE_FQDN_LOGTO_3001=localhost
SERVICE_FQDN_LOGTOADMIN_3002=localhost
SERVICE_FQDN_LOGTO=localhost
SERVICE_FQDN_LOGTOADMIN=localhost

LOGTO_DB_NAME=logto
LOGTO_IMAGE=svhd/logto:latest
LOGTO_RESTART_POLICY=unless-stopped
LOGTO_POSTGRES_IMAGE=postgres:16-alpine
LOGTO_POSTGRES_RESTART_POLICY=unless-stopped
LOGTO_TRUST_PROXY_HEADER=1
TZ=UTC
