SERVICE_PORT_WOODPECKER_CI=8000
SERVICE_PASSWORD_WOODPECKER_CI=woodpecker_agent_secret

SERVICE_URL_WOODPECKER_CI_8000=http://localhost:8000
SERVICE_URL_WOODPECKER_CI=http://localhost:8000
SERVICE_FQDN_WOODPECKER_CI_8000=localhost
SERVICE_FQDN_WOODPECKER_CI=localhost

WOODPECKER_OPEN=true
WOODPECKER_GITHUB=true
WOODPECKER_GITHUB_CLIENT=configure-me
WOODPECKER_GITHUB_SECRET=configure-me
WOODPECKER_MAX_WORKFLOWS=2
WOODPECKER_AGENT_HEALTHCHECK=true
WOODPECKER_LOG_LEVEL=info
WOODPECKER_IMAGE=woodpeckerci/woodpecker-server:v3
WOODPECKER_RESTART_POLICY=unless-stopped
WOODPECKER_AGENT_IMAGE=woodpeckerci/woodpecker-agent:v3
WOODPECKER_AGENT_RESTART_POLICY=unless-stopped
TZ=UTC
