SERVICE_PORT_DENO_KV=4512
SERVICE_PASSWORD_DENOKV=deno_kv_access_token
SERVICE_URL_DENO_KV_4512=http://localhost:4512
DENO_KV_IMAGE=ghcr.io/denoland/denokv:latest
DENO_KV_RESTART_POLICY=unless-stopped
TZ=UTC
