SERVICE_PORT_LM_STUDIO=1234
LM_STUDIO_IMAGE=lmstudio/llmster-preview:cpu
LM_STUDIO_RESTART_POLICY=unless-stopped
TZ=UTC

SERVICE_URL_LM_STUDIO_1234=http://localhost:1234
SERVICE_URL_LM_STUDIO=http://localhost:1234
SERVICE_FQDN_LM_STUDIO_1234=localhost
SERVICE_FQDN_LM_STUDIO=localhost
