SERVICE_PORT_TYPESENSE=8108
SERVICE_PASSWORD_TYPESENSE=typesense_api_key
SERVICE_URL_TYPESENSE_8108=http://localhost:8108
TYPESENSE_IMAGE=typesense/typesense:28.0
TYPESENSE_ENABLE_CORS=true
TYPESENSE_RESTART_POLICY=unless-stopped
TZ=UTC
