SERVICE_PORT_GITLEAKS=8080
GITLEAKS_IMAGE=ghcr.io/gitleaks/gitleaks:latest
GITLEAKS_RESTART_POLICY=unless-stopped
TZ=UTC

SERVICE_URL_GITLEAKS_8080=http://localhost:8080
SERVICE_URL_GITLEAKS=http://localhost:8080
SERVICE_FQDN_GITLEAKS_8080=localhost
SERVICE_FQDN_GITLEAKS=localhost
