SERVICE_PORT_UMAMI=3000
SERVICE_USER_UMAMI=umami
SERVICE_PASSWORD_UMAMI=umami_password
SERVICE_HEX_64_UMAMI=0000000000000000000000000000000000000000000000000000000000000000

SERVICE_URL_UMAMI_3000=http://localhost:3000
SERVICE_URL_UMAMI=http://localhost:3000
SERVICE_FQDN_UMAMI_3000=localhost
SERVICE_FQDN_UMAMI=localhost

UMAMI_DB_NAME=umami
UMAMI_DISABLE_TELEMETRY=1
UMAMI_IMAGE=ghcr.io/umami-software/umami:postgresql-latest
UMAMI_RESTART_POLICY=unless-stopped
UMAMI_POSTGRES_IMAGE=postgres:16-alpine
UMAMI_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
