SERVICE_PORT_APPWRITE=80
SERVICE_USER_APPWRITE=appwrite
SERVICE_PASSWORD_APPWRITE=appwrite_password
SERVICE_PASSWORD_64_APPWRITE=appwrite_root_password_change_me_to_random_64_chars_value_here
SERVICE_HEX_128_APPWRITE=00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
SERVICE_HEX_32_APPWRITE=11111111111111111111111111111111
SERVICE_PASSWORDWITHSYMBOLS_64_APPWRITE=change_me_to_a_secure_executor_secret_with_symbols_64chars

SERVICE_URL_APPWRITE_80=http://localhost
SERVICE_URL_APPWRITE=http://localhost
SERVICE_FQDN_APPWRITE_80=localhost
SERVICE_FQDN_APPWRITE=localhost

APPWRITE_DB_NAME=appwrite
APPWRITE_DOMAIN_FUNCTIONS=functions.localhost
APPWRITE_REDIS_USER=unused
APPWRITE_SYSTEM_EMAIL=team@example.com
APPWRITE_SECURITY_EMAIL=security@example.com
APPWRITE_SMTP_HOST=localhost
APPWRITE_SMTP_PORT=25
APPWRITE_SMTP_SECURE=none
APPWRITE_SMTP_USERNAME=unused
APPWRITE_SMTP_PASSWORD=unused
APPWRITE_IMAGE=appwrite/appwrite:1.6.1
APPWRITE_RESTART_POLICY=unless-stopped
APPWRITE_TRAEFIK_IMAGE=traefik:2.11
APPWRITE_TRAEFIK_RESTART_POLICY=unless-stopped
APPWRITE_EXECUTOR_IMAGE=openruntimes/executor:0.4.5
APPWRITE_EXECUTOR_RESTART_POLICY=unless-stopped
APPWRITE_MARIADB_IMAGE=mariadb:10.11
APPWRITE_MARIADB_RESTART_POLICY=unless-stopped
APPWRITE_REDIS_IMAGE=redis:7.4-alpine
APPWRITE_REDIS_RESTART_POLICY=unless-stopped
APPWRITE_FUNCTIONS_INACTIVE_THRESHOLD=60
APPWRITE_FUNCTIONS_MAINTENANCE_INTERVAL=3600
APPWRITE_FUNCTIONS_RUNTIMES_NETWORK=runtimes
TZ=UTC
