SERVICE_PORT_TRIVY=4954
TRIVY_IMAGE=aquasec/trivy:latest
TRIVY_RESTART_POLICY=unless-stopped
TZ=UTC

SERVICE_URL_TRIVY_4954=http://localhost:4954
SERVICE_URL_TRIVY=http://localhost:4954
SERVICE_FQDN_TRIVY_4954=localhost
SERVICE_FQDN_TRIVY=localhost
