SERVICE_PORT_AUTOBASE=80
SERVICE_PASSWORD_AUTOBASE=autobase_console_token
SERVICE_PASSWORD_AUTOBASE_POSTGRES=autobase_postgres_password
SERVICE_BASE64_AUTOBASE_ENCRYPTIONKEY=
SERVICE_URL_AUTOBASE=http://localhost
AUTOBASE_UI_IMAGE=autobase/console_ui:2.5.2
AUTOBASE_API_IMAGE=autobase/console_api:2.5.2
AUTOBASE_DB_IMAGE=autobase/console_db:2.5.2
AUTOBASE_LOGGER_LEVEL=info
AUTOBASE_RESTART_POLICY=unless-stopped
AUTOBASE_API_RESTART_POLICY=unless-stopped
AUTOBASE_DB_RESTART_POLICY=unless-stopped
TZ=UTC
