SERVICE_PORT_TRIGGER=3040

SERVICE_URL_TRIGGER_3040=http://localhost:3040
SERVICE_URL_TRIGGER=http://localhost:3040
SERVICE_FQDN_TRIGGER_3040=localhost
SERVICE_FQDN_TRIGGER=localhost

TRIGGER_DB_NAME=postgres
TZ=UTC
