SERVICE_PORT_GHOST=2368
SERVICE_USER_GHOST=ghost
SERVICE_PASSWORD_GHOST=ghost_password
SERVICE_PASSWORD_GHOST_ROOT=ghost_root_password

SERVICE_URL_GHOST_2368=http://localhost:2368
SERVICE_URL_GHOST=http://localhost:2368
SERVICE_FQDN_GHOST_2368=localhost
SERVICE_FQDN_GHOST=localhost

GHOST_DB_NAME=ghost
GHOST_DB_HOST=mariadb
GHOST_DB_PORT=3306
GHOST_IMAGE=ghost:5-alpine
GHOST_RESTART_POLICY=unless-stopped
GHOST_MARIADB_IMAGE=mariadb:11.4
GHOST_MARIADB_RESTART_POLICY=unless-stopped
TZ=UTC
