SERVICE_PORT_CHROMA=8000
SERVICE_URL_CHROMA_8000=http://localhost:8000
CHROMA_IMAGE=chromadb/chroma:1.0.15
CHROMA_IS_PERSISTENT=TRUE
CHROMA_ANONYMIZED_TELEMETRY=FALSE
CHROMA_RESTART_POLICY=unless-stopped
TZ=UTC
