SERVICE_PORT_MEILISEARCH=7700
SERVICE_PASSWORD_MEILISEARCH=meilisearch_master_key
SERVICE_URL_MEILISEARCH_7700=http://localhost:7700
MEILISEARCH_IMAGE=getmeili/meilisearch:v1.22
MEILI_NO_ANALYTICS=true
MEILI_ENV=production
MEILISEARCH_RESTART_POLICY=unless-stopped
TZ=UTC
