POSTGRES_USER=e2e_user
POSTGRES_PASSWORD=e2e_pass_change_me
POSTGRES_DB=e2e_db
POSTGRES_PORT=5432
POSTGRES_IMAGE=postgres:16
POSTGRES_RESTART_POLICY=always
POSTGRES_DATA_PATH=/var/lib/postgresql/data
TZ=UTC
PGTZ=UTC
