SERVICE_PORT_SURREALDB=8000
SERVICE_USER_SURREALDB=surrealdb
SERVICE_PASSWORD_SURREALDB=surrealdb_password
SURREALDB_STORAGE=rocksdb:/data/database.db
SURREALDB_LOG_LEVEL=info
SURREALDB_IMAGE=surrealdb/surrealdb:v2.3.7
SURREALDB_RESTART_POLICY=unless-stopped
