SERVICE_PORT_POSTGRES=5432
SERVICE_USER_POSTGRES=postgres
SERVICE_PASSWORD_POSTGRES=postgres
POSTGRES_DB=postgres
POSTGRES_IMAGE=postgres:16
POSTGRES_RESTART_POLICY=unless-stopped
POSTGRES_DATA_PATH=/var/lib/postgresql/data
