SERVICE_PORT_KEYCLOAK=8080
SERVICE_USER_KEYCLOAK=admin
SERVICE_PASSWORD_KEYCLOAK=keycloak_admin_password

SERVICE_URL_KEYCLOAK_8080=http://localhost:8080
SERVICE_URL_KEYCLOAK=http://localhost:8080
SERVICE_FQDN_KEYCLOAK_8080=localhost
SERVICE_FQDN_KEYCLOAK=localhost

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.0.7
KEYCLOAK_RESTART_POLICY=unless-stopped
KEYCLOAK_POSTGRES_IMAGE=postgres:16-alpine
KEYCLOAK_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
