SERVICE_PORT_EDGEDB=5656
SERVICE_USER_EDGEDBPG=edgedb
SERVICE_PASSWORD_EDGEDBPG=edgedb_postgres_password
SERVICE_PASSWORD_EDGEDB=edgedb_server_password
SERVICE_URL_EDGEDB_5656=http://localhost:5656
EDGEDB_DB=edgedb
EDGEDB_SERVER_ADMIN_UI=enabled
EDGEDB_SERVER_SECURITY=strict
EDGEDB_IMAGE=edgedb/edgedb:6
EDGEDB_POSTGRES_IMAGE=postgres:16-alpine
EDGEDB_RESTART_POLICY=unless-stopped
EDGEDB_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
