SERVICE_PORT_N8N_WITH_POSTGRES_AND_WORKER=5678

SERVICE_URL_N8N_WITH_POSTGRES_AND_WORKER_5678=http://localhost:5678
SERVICE_URL_N8N_WITH_POSTGRES_AND_WORKER=http://localhost:5678
SERVICE_FQDN_N8N_WITH_POSTGRES_AND_WORKER_5678=localhost
SERVICE_FQDN_N8N_WITH_POSTGRES_AND_WORKER=localhost

N8N_WITH_POSTGRES_AND_WORKER_DB_NAME=n8n
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false
GENERIC_TIMEZONE=UTC
TZ=UTC
