SERVICE_PORT_RABBITMQ=5672
SERVICE_PORT_RABBITMQ_15672=15672
SERVICE_USER_RABBITMQ=rabbitmq
SERVICE_PASSWORD_RABBITMQ=rabbitmq_password
SERVICE_URL_RABBITMQ_15672=http://localhost:15672
RABBITMQ_IMAGE=rabbitmq:3-management
RABBITMQ_RESTART_POLICY=unless-stopped
TZ=UTC
