SERVICE_PORT_MYSQL=3306
SERVICE_USER_MYSQL=mysql
SERVICE_PASSWORD_MYSQL=mysql_password
SERVICE_PASSWORD_MYSQL_ROOT=mysql_root_password
MYSQL_DB=mysql
MYSQL_IMAGE=mysql:8.4
MYSQL_RESTART_POLICY=unless-stopped
TZ=UTC
