SERVICE_PORT_STABLE_DIFFUSION_WEBUI=7860
STABLE_DIFFUSION_WEBUI_IMAGE=universonic/stable-diffusion-webui:latest
STABLE_DIFFUSION_WEBUI_RESTART_POLICY=unless-stopped
STABLE_DIFFUSION_WEBUI_CLI_ARGS=--listen --api --xformers
STABLE_DIFFUSION_WEBUI_GPU_COUNT=1
TZ=UTC

SERVICE_URL_STABLE_DIFFUSION_WEBUI_7860=http://localhost:7860
SERVICE_URL_STABLE_DIFFUSION_WEBUI=http://localhost:7860
SERVICE_FQDN_STABLE_DIFFUSION_WEBUI_7860=localhost
SERVICE_FQDN_STABLE_DIFFUSION_WEBUI=localhost
