SERVICE_PORT_CONTINUE_DEV=11434
CONTINUE_DEV_OLLAMA_IMAGE=ollama/ollama:latest
CONTINUE_DEV_RESTART_POLICY=unless-stopped
CONTINUE_DEV_OLLAMA_HOST=0.0.0.0:11434
CONTINUE_DEV_OLLAMA_MODEL=llama3.2
CONTINUE_DEV_MODEL_INIT_RESTART_POLICY=no
TZ=UTC

SERVICE_URL_CONTINUE_DEV_11434=http://localhost:11434
SERVICE_URL_CONTINUE_DEV=http://localhost:11434
SERVICE_FQDN_CONTINUE_DEV_11434=localhost
SERVICE_FQDN_CONTINUE_DEV=localhost
