SERVICE_PORT_ELECTRICSQL=3000
SERVICE_USER_ELECTRICPG=electric
SERVICE_PASSWORD_ELECTRICPG=electric_postgres_password
SERVICE_URL_ELECTRICSQL_3000=http://localhost:3000
ELECTRICSQL_DB=electric
ELECTRIC_INSECURE=true
ELECTRICSQL_IMAGE=docker.io/electricsql/electric:latest
ELECTRICSQL_POSTGRES_IMAGE=postgres:16-alpine
ELECTRICSQL_RESTART_POLICY=unless-stopped
ELECTRICSQL_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
