SERVICE_PORT_ONEDEV=6610
SERVICE_PORT_ONEDEV_6611=6611
SERVICE_USER_ONEDEV=admin
SERVICE_PASSWORD_ONEDEV=onedev_admin_password

ONEDEV_IMAGE=1dev/server:16.0.2
ONEDEV_RESTART_POLICY=unless-stopped
ONEDEV_INITIAL_EMAIL=admin@example.com
ONEDEV_INITIAL_SSH_URL=ssh://localhost:6611

SERVICE_URL_ONEDEV_6610=http://localhost:6610
SERVICE_URL_ONEDEV=http://localhost:6610
TZ=UTC
