SERVICE_PORT_N8N_WITH_POSTGRESQL=5678

SERVICE_URL_N8N_WITH_POSTGRESQL_5678=http://localhost:5678
SERVICE_URL_N8N_WITH_POSTGRESQL=http://localhost:5678
SERVICE_FQDN_N8N_WITH_POSTGRESQL_5678=localhost
SERVICE_FQDN_N8N_WITH_POSTGRESQL=localhost

N8N_WITH_POSTGRESQL_DB_NAME=n8n
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false
GENERIC_TIMEZONE=UTC
TZ=UTC
