SERVICE_PORT_NEXTCLOUD_CONTACTS=80

NEXTCLOUD_CONTACTS_IMAGE=ckulka/baikal:nginx
NEXTCLOUD_CONTACTS_RESTART_POLICY=unless-stopped
TZ=UTC

# Public URL when running behind a reverse proxy.
SERVICE_URL_NEXTCLOUD_CONTACTS_80=http://localhost
SERVICE_URL_NEXTCLOUD_CONTACTS=http://localhost
SERVICE_FQDN_NEXTCLOUD_CONTACTS_80=localhost
SERVICE_FQDN_NEXTCLOUD_CONTACTS=localhost
