SERVICE_PORT_FORGEJO=3000
FORGEJO_IMAGE=data.forgejo.org/forgejo/forgejo:12
FORGEJO_RESTART_POLICY=unless-stopped

SERVICE_URL_FORGEJO_3000=http://localhost:3000/
SERVICE_URL_FORGEJO=http://localhost:3000/
SERVICE_FQDN_FORGEJO_3000=localhost
SERVICE_FQDN_FORGEJO=localhost

FORGEJO_USER_UID=1000
FORGEJO_USER_GID=1000
FORGEJO_DISABLE_SSH=true
FORGEJO_ACTIONS_ENABLED=true
TZ=UTC
