SERVICE_PORT_UNSTRUCTURED=8000
SERVICE_PASSWORD_APIKEY=unstructured_api_key

SERVICE_URL_UNSTRUCTURED_8000=http://localhost:8000
SERVICE_URL_UNSTRUCTURED=http://localhost:8000
SERVICE_FQDN_UNSTRUCTURED_8000=localhost
SERVICE_FQDN_UNSTRUCTURED=localhost

UNSTRUCTURED_IMAGE=downloads.unstructured.io/unstructured-io/unstructured-api:latest
UNSTRUCTURED_RESTART_POLICY=unless-stopped
TZ=UTC
