SERVICE_PORT_MAGE_AI=6789

SERVICE_URL_MAGE_AI_6789=http://localhost:6789
SERVICE_URL_MAGE_AI=http://localhost:6789
SERVICE_FQDN_MAGE_AI_6789=localhost
SERVICE_FQDN_MAGE_AI=localhost

MAGE_AI_IMAGE=mageai/mageai:latest
MAGE_AI_RESTART_POLICY=unless-stopped
MAGE_AI_PROJECT_NAME=default_project
MAGE_AI_ENV=production
TZ=UTC
