SERVICE_PORT_ELASTICSEARCH=9200
SERVICE_PASSWORD_ELASTICSEARCH=elastic_password
SERVICE_URL_ELASTICSEARCH_9200=http://localhost:9200
ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch-wolfi:8.19.0
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_RESTART_POLICY=unless-stopped
TZ=UTC
