SERVICE_PORT_LABEL_STUDIO=8080
SERVICE_USER_POSTGRES=labelstudio
SERVICE_PASSWORD_POSTGRES=labelstudio_db_password
SERVICE_PASSWORD_LABEL_STUDIO=labelstudio_admin_password

SERVICE_URL_LABEL_STUDIO_8080=http://localhost:8080
SERVICE_URL_LABEL_STUDIO=http://localhost:8080
SERVICE_FQDN_LABEL_STUDIO_8080=localhost
SERVICE_FQDN_LABEL_STUDIO=localhost

LABEL_STUDIO_IMAGE=heartexlabs/label-studio:latest
LABEL_STUDIO_POSTGRES_IMAGE=postgres:16-alpine
LABEL_STUDIO_RESTART_POLICY=unless-stopped
LABEL_STUDIO_POSTGRES_RESTART_POLICY=unless-stopped
LABEL_STUDIO_USERNAME=admin@example.com
POSTGRES_DB=labelstudio
TZ=UTC
