SERVICE_PORT_CLICKHOUSE=8123
SERVICE_PORT_CLICKHOUSE_9000=9000
SERVICE_USER_CLICKHOUSE=clickhouse
SERVICE_PASSWORD_CLICKHOUSE=clickhouse_password
CLICKHOUSE_DB=default
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:25.3
CLICKHOUSE_RESTART_POLICY=unless-stopped
TZ=UTC
