SERVICE_PORT_MINDSDB=47334
SERVICE_PORT_MINDSDB_API=47335
SERVICE_USER_POSTGRES=mindsdb
SERVICE_PASSWORD_POSTGRES=mindsdb_db_password

SERVICE_URL_MINDSDB_47334=http://localhost:47334
SERVICE_URL_MINDSDB=http://localhost:47334
SERVICE_FQDN_MINDSDB_47334=localhost
SERVICE_FQDN_MINDSDB=localhost

MINDSDB_IMAGE=mindsdb/mindsdb:latest
MINDSDB_POSTGRES_IMAGE=postgres:16-alpine
MINDSDB_RESTART_POLICY=unless-stopped
MINDSDB_POSTGRES_RESTART_POLICY=unless-stopped
POSTGRES_DB=mindsdb
TZ=UTC
