SERVICE_PORT_HEALTHCHECKS=8000
SERVICE_USER_HEALTHCHECKS=healthchecks
SERVICE_PASSWORD_HEALTHCHECKS=healthchecks_password
SERVICE_HEX_64_HEALTHCHECKS=0000000000000000000000000000000000000000000000000000000000000000

SERVICE_URL_HEALTHCHECKS_8000=http://localhost:8000
SERVICE_URL_HEALTHCHECKS=http://localhost:8000
SERVICE_FQDN_HEALTHCHECKS_8000=localhost
SERVICE_FQDN_HEALTHCHECKS=localhost

HEALTHCHECKS_DB_NAME=hc
HEALTHCHECKS_SITE_NAME=Healthchecks
HEALTHCHECKS_DEFAULT_FROM_EMAIL=healthchecks@example.org
HEALTHCHECKS_EMAIL_HOST=localhost
HEALTHCHECKS_EMAIL_HOST_USER=noreply@example.org
HEALTHCHECKS_EMAIL_HOST_PASSWORD=unused
HEALTHCHECKS_EMAIL_PORT=587
HEALTHCHECKS_EMAIL_USE_TLS=true
HEALTHCHECKS_REGISTRATION_OPEN=true
HEALTHCHECKS_IMAGE=healthchecks/healthchecks:latest
HEALTHCHECKS_RESTART_POLICY=unless-stopped
HEALTHCHECKS_POSTGRES_IMAGE=postgres:16-alpine
HEALTHCHECKS_POSTGRES_RESTART_POLICY=unless-stopped
TZ=UTC
