SERVICE_PORT_LIBRECHAT=3080
SERVICE_USER_MONGO=librechat
SERVICE_PASSWORD_MONGO=librechat_mongo_password
SERVICE_USER_POSTGRES=librechat
SERVICE_PASSWORD_POSTGRES=librechat_postgres_password
SERVICE_PASSWORD_MEILI=librechat_meili_master_key
SERVICE_PASSWORD_JWT=librechat_jwt_secret
SERVICE_PASSWORD_64_JWT=librechat_jwt_refresh_secret_64_chars_minimum_length_value_here
SERVICE_PASSWORD_64_CREDS=librechat_creds_key_64_chars_minimum_length_value_here_now
SERVICE_PASSWORD_CREDS=librechat_creds_iv

SERVICE_URL_LIBRECHAT_3080=http://localhost:3080
SERVICE_URL_LIBRECHAT=http://localhost:3080
SERVICE_FQDN_LIBRECHAT_3080=localhost
SERVICE_FQDN_LIBRECHAT=localhost

LIBRECHAT_IMAGE=ghcr.io/danny-avila/librechat-dev-api:latest
LIBRECHAT_MONGODB_IMAGE=mongo:8
LIBRECHAT_MEILISEARCH_IMAGE=getmeili/meilisearch:v1.35.1
LIBRECHAT_VECTORDB_IMAGE=pgvector/pgvector:0.8.0-pg15-trixie
LIBRECHAT_RAG_API_IMAGE=ghcr.io/danny-avila/librechat-rag-api-dev-lite:v0.7.3
LIBRECHAT_RESTART_POLICY=unless-stopped
LIBRECHAT_MONGODB_RESTART_POLICY=unless-stopped
LIBRECHAT_MEILISEARCH_RESTART_POLICY=unless-stopped
LIBRECHAT_VECTORDB_RESTART_POLICY=unless-stopped
LIBRECHAT_RAG_API_RESTART_POLICY=unless-stopped
LIBRECHAT_VECTORDB_DB=rag
TZ=UTC
