SERVICE_PORT_ELASTICSEARCH=9200
SERVICE_PORT_ELASTICSEARCH_KIBANA=5601
SERVICE_URL_ELASTICSEARCH_9200=http://localhost:9200
SERVICE_URL_ELASTICSEARCH_KIBANA_5601=http://localhost:5601
ELASTICSEARCH_WITH_KIBANA_ES_IMAGE=docker.elastic.co/elasticsearch/elasticsearch-wolfi:8.19.0
ELASTICSEARCH_WITH_KIBANA_KIBANA_IMAGE=docker.elastic.co/kibana/kibana-wolfi:8.19.0
ELASTICSEARCH_WITH_KIBANA_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_WITH_KIBANA_RESTART_POLICY=unless-stopped
ELASTICSEARCH_WITH_KIBANA_KIBANA_RESTART_POLICY=unless-stopped
TZ=UTC
