SERVICE_PORT_AUTHENTIK=9000
SERVICE_USER_AUTHENTIK=authentik
SERVICE_PASSWORD_AUTHENTIK=authentik_db_password
SERVICE_BASE64_64_AUTHENTIK=change_me_to_a_random_64_character_alphanumeric_secret_value_here

SERVICE_URL_AUTHENTIK_9000=http://localhost:9000
SERVICE_URL_AUTHENTIK=http://localhost:9000
SERVICE_FQDN_AUTHENTIK_9000=localhost
SERVICE_FQDN_AUTHENTIK=localhost

AUTHENTIK_DB_NAME=authentik
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2025.8.6
AUTHENTIK_RESTART_POLICY=unless-stopped
AUTHENTIK_WORKER_RESTART_POLICY=unless-stopped
AUTHENTIK_POSTGRES_IMAGE=postgres:16-alpine
AUTHENTIK_POSTGRES_RESTART_POLICY=unless-stopped
AUTHENTIK_REDIS_IMAGE=redis:alpine
AUTHENTIK_REDIS_RESTART_POLICY=unless-stopped
TZ=UTC
