SERVICE_PORT_MARIADB=3306
SERVICE_USER_MARIADB=mariadb
SERVICE_PASSWORD_MARIADB=mariadb_password
SERVICE_PASSWORD_MARIADB_ROOT=mariadb_root_password
MARIADB_DB=mariadb
MARIADB_AUTO_UPGRADE=1
MARIADB_IMAGE=mariadb:11.4
MARIADB_RESTART_POLICY=unless-stopped
TZ=UTC
